# Raw source data
data/raw/*

# Extracted from source
data/extracted/*

# Processed from source
data/processed/*

# Local DuckDB database
*.duckdb

# Mac setting
*.DS_Store

# DuckDB
data/warehouse.duckdb
*.duckdb
*.duckdb.wal

# Editor
.vscode/*
!.vscode/settings.json